.container-fluid {
  font-family: "Gill Sans Nova", "Gill Sans", "Helvetica", sans-serif;
  font-size: 15px;
}
/* make body font size 12 */
/*body {
  font-size: 12px;
}
/* make titles darker blue */
/* h1 {
  color: #4887b7;
} */

.navbar {
  background-color: #4887b7;
  color: #ffffff;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #4887b7;
  background-color: #ffffff;
}

/* Global Formats */
.main-container {
  font-family: "Gill Sans Nova", "Gill Sans", "Helvetica", sans-serif;
  font-size: 15px;
}

/* Hyper-links */
.a {
  color: #4887b7;
}

/* Header image formatting */
#header {
  padding-top: 12px;
}

/* Legend Formatting */
.list-group-item.active {
  background-color: #4887b7;
  border-color: #4887b7;
}

.list-group-item.active:hover {
  background-color: #000000;
  border-color: #000000;
}

.tocify {
  border-radius: 0;
}

/* Button Formatting */
.btn {
  border-radius: 0;
}

/* library(DT) */
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #ffffff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #1696d2;
}

div.dataTables_wrapper div.dataTables_filter input {
  border-radius: 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}

caption {
  color: #4887b7;
  font-weight: bold;
  font-size: 1em;
}
